include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/home
		include ../common/3kviz
		include ../common/modal
		include ../common/footer
	// END body