include ../common/_var
include ../common/_mixin

doctypehtml
html(lang='ru')
	include ../common/head
	body
		include ../common/header
		include ../common/1home
		include ../common/2want
		include ../common/3how
		include ../common/4stages
		include ../common/5results
		include ../common/6action
		include ../common/7kviz
		include ../common/5results
		include ../common/modal
		include ../common/footer
	// END body