.footer {
    padding: 30px 0 25px;
    background: #202020;
    color: #fff;
    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a {
        display: block;
    }
    &__logo {
        display: inline-block;
        width: 56px;
        @media screen and (max-width: 580px) {
            width: 41px;
        }
        &:hover {
            opacity: 0.6;
        }

        img {
            width: 100%;
        }
    }
    &__dev {
        text-align: right;
    }
}
