.home {
    position: relative;
    background: url('../img/home-bg.jpg') no-repeat;
    background-size: cover;
    overflow: hidden;
    padding: 144px 0 100px;
    @media screen and (max-width: 580px) {
        padding: 97px 0 89px;
    }
    &__body {
        @media screen and (max-width: 580px) {
            display: flex;
            flex-direction: column;
           justify-content: center;
        }
    }
    &__pre {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        max-width: 620px;
        margin-bottom: 28px;
        @media screen and (max-width: 580px) {
            text-align: center;
            font-size: 10px;
            line-height: 16px;
            padding: 0 15px;
        }
    }

    &__subtitle {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 29px;

        @media screen and (max-width: 580px) {
            text-align: center;
            font-size: 10px;
            line-height: 16px;
            margin-bottom: 17px;
        }
    }
    &__items {
        display: flex;
        justify-content: space-between;
        width: 87%;
        margin-bottom: 65px;
        @media screen and (max-width: 767px) {
            flex-wrap: wrap;
            width: 100%;
        }

        @media screen and (max-width: 580px) {
            text-align: center;
            justify-content: center;
            font-size: 10px;
            line-height: 14px;
            margin-bottom: 18px;
        }
    }
    &__item {
        width: 32%;
        padding: 33px 37px 28px;
        background: #fff;
        position: relative;
        box-shadow: 23px 0px 27px -8px rgba(149, 149, 149, 0.36);

        @media screen and (max-width: 767px) {
            width: 50%;
            width: 49%;
            margin-bottom: 18px;
        }
        @media screen and (max-width: 580px) {
            width: 80%;
            margin: 0 auto 18px;
            padding: 15px 7px 11px;
        }
        &:before {
            content: "";
            position: absolute;
            bottom: -2px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, 0);
            width: 98%;
            height: 2px;
            background: $accent;
        }

    }

    &__title {
        font-weight: 700;
        text-transform: uppercase;
        @media screen and (max-width: 565px) {
            padding-right: 7px;
        }

    }
    .btn {
        @media screen and (max-width: 580px) {
            width: 242px;
            margin: 0 auto;
            padding: 12px 10px;
            font-size: 12px;
        }
    }
}