// $default-font: "SofiaProExtraLight", Arial, sans-serif;
// $second-font: "FuturaPT-Demi", Arial, sans-serif;
// $title-font: "FuturaPT-Medium", Arial, sans-serif;

$accent: #1b449c;
$accent2: #ffc905;
$text: #5f5f5f;
