section.home
    .wrap
        .circle
        .home__body
            .home__pre Думаете, чтобы получать заказы из соцсетей, нужно много времени и денег?
            .home__title 
                .home__title__day 7
                    .home__title__text дней
                | Получите первые лиды уже через
            .home__subtitle С помощью инновационной системы, которую мы разработаем, настроим и запустим всего за неделю!
            .home__text Ответьте на 5 вопросов и получите персональное предложение для вашей компании
            a(href="#kviz").btn.scroll-to Пройти тест