section.home
    .wrap
        .circle
        .home__body
            //- .home__pre Думаете, чтобы получать заказы из соцсетей, нужно много времени и денег?
            .home__title 
                .home__title__day 7
                    .home__title__text дней
                | УЗНАЙТЕ, <span class="home__title--mob"><br></span>как увеличить количество заявок <span class="home__title--mob"><br></span>в 3-6 раз <span class="home__title--desc">уже</span> через 
            //- .home__subtitle С помощью инновационной системы, которую мы разработаем, настроим и запустим всего за неделю!
            .home__subtitle  с помощью  <span class="home__title--mob"><br></span>квиз-лендинга
            .home__text Ответьте на 5 вопросов и получите персональное предложение для вашей компании
            a(href="#kviz").btn.scroll-to Пройти тест