section.want
    .wrap
        .want__body
            .want__item.want__item--title
                .title Этот инструмент для вас, если вы хотите:
            .want__item.want__item--topgreen
                .want__icon
                    img(src="img/icons/sales.svg", alt="sales")
                .want__text Быстро получить новых <br> клиентов и продажи
            .want__item
                .want__icon
                    img(src="img/icons/segmentation.svg", alt="segmentation")
                .want__text Протестировать <br> новую нишу
        .want__body
            .want__item.want__item--black
                .want__icon
                    img(src="img/icons/magnet.svg", alt="magnet")
                .want__text Привлечь новых <br> покупателей
            .want__item
                .want__icon
                    img(src="img/icons/target.svg", alt="target")
                .want__text Изучить целевую <br> аудиторию
            .want__item.want__item--green
                .want__icon
                    img(src="img/icons/analysis.svg", alt="analysis")
                .want__text Узнать спрос на новый <br> продукт или услугу