section.how
    .wrap
        .how__part
            .circle
            .title.title--green Как мы это сделаем?
            .how__text С помощью квиз-лендинга — нового инструмента в продвижении продуктов и услуг, который дает вам возможность получить более качественных лидов при меньшем бюджете, чем с классического лендинга
        .how__items
            .how__item
                .how__num 1
                .how__descr Трендовый инструмент маркетологов на американском рынке
            .how__item
                .how__num 2
                .how__descr Работа квиз-лендинга основана на нейрокибернетическом анализе
            .how__item
                .how__num 3
                .how__descr Конверсия с квиз-лендингов в 2 раза выше, чем с классических
            .how__item
                .how__num 4
                .how__descr Помогает снизить расходы на рекламу при одинаковом результате
            .how__item
                .how__num 5
                .how__descr Собирает ключевую информацию о лиде для успешного закрытия сделки