section.kviz#kviz
    .wrap
        .kviz-progress
            .kviz-progress__item.active
                .kviz-progress__icon
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 480 480', style='enable-background:new 0 0 480 480;', xml:space='preserve')
                        g
                            g
                                path(d='M240,0c-26.51,0-48,21.49-48,48s21.49,48,48,48c26.499-0.026,47.974-21.501,48-48C288,21.49,266.51,0,240,0z M240,80\
                                c-17.673,0-32-14.327-32-32s14.327-32,32-32c17.673,0,32,14.327,32,32S257.673,80,240,80z')
                        g
                            g
                                path(d='M272,104h-1.888l-1.688,0.84c-17.901,8.913-38.947,8.913-56.848,0l-1.688-0.84H208c-22.08,0.026-39.974,17.92-40,40v48\
                                c0,13.255,10.745,24,24,24h96c13.255,0,24-10.745,24-24v-48C311.974,121.92,294.08,104.026,272,104z M296,192c0,4.418-3.582,8-8,8\
                                h-96c-4.418,0-8-3.582-8-8v-48c0.002-12.592,9.735-23.042,22.296-23.936c21.375,9.92,46.034,9.92,67.408,0\
                                c12.56,0.894,22.294,11.344,22.296,23.936V192z')
                        g
                            g
                                path(d='M408,264c-26.51,0-48,21.49-48,48c0,26.51,21.49,48,48,48c26.51,0,48-21.49,48-48\
                                C455.974,285.501,434.499,264.026,408,264z M408,344c-17.673,0-32-14.327-32-32c0-17.673,14.327-32,32-32\
                                c17.673,0,32,14.327,32,32C440,329.673,425.673,344,408,344z')
                        g
                            g
                                path(d='M440,368h-1.888l-1.688,0.8c-17.901,8.912-38.947,8.912-56.848,0l-1.688-0.8H376c-22.08,0.026-39.974,17.92-40,40v48\
                                c0,13.255,10.745,24,24,24h96c13.255,0,24-10.745,24-24v-48C479.974,385.92,462.08,368.026,440,368z M464,456c0,4.418-3.582,8-8,8\
                                h-96c-4.418,0-8-3.582-8-8v-48c0.002-12.592,9.735-23.042,22.296-23.936c21.375,9.92,46.033,9.92,67.408,0\
                                C454.265,384.958,463.998,395.408,464,408V456z')
                        g
                            g
                                path(d='M72,264c-26.51,0-48,21.49-48,48c0,26.51,21.49,48,48,48s48-21.49,48-48C119.974,285.501,98.499,264.026,72,264z M72,344\
                                c-17.673,0-32-14.327-32-32c0-17.673,14.327-32,32-32s32,14.327,32,32C104,329.673,89.673,344,72,344z')
                        g
                            g
                                path(d='M104,368h-1.888l-1.688,0.8c-17.901,8.912-38.947,8.912-56.848,0l-1.688-0.8H40c-22.08,0.026-39.974,17.92-40,40v48\
                                c0,13.255,10.745,24,24,24h96c13.255,0,24-10.745,24-24v-48C143.974,385.92,126.08,368.026,104,368z M128,456c0,4.418-3.582,8-8,8\
                                H24c-4.418,0-8-3.582-8-8v-48c0.002-12.592,9.735-23.042,22.296-23.936c21.375,9.92,46.033,9.92,67.408,0\
                                C118.265,384.958,127.998,395.408,128,408V456z')
                        g
                            g
                                path(d='M319.372,406.276c-0.004-0.009-0.008-0.018-0.012-0.028c-1.732-4.065-6.431-5.956-10.495-4.224c0,0,0,0,0,0\
                                c-36.125,15.14-76.245,17.902-114.104,7.856l7.488-2.2c4.242-1.242,6.674-5.686,5.432-9.928s-5.686-6.674-9.928-5.432l-32,9.384\
                                c-0.12,0-0.208,0.136-0.32,0.176c-0.741,0.276-1.437,0.662-2.064,1.144c-0.278,0.15-0.545,0.318-0.8,0.504\
                                c-0.844,0.753-1.513,1.681-1.96,2.72c-0.434,1.046-0.641,2.172-0.608,3.304c0.195,1.083,0.462,2.152,0.8,3.2\
                                c0.048,0.112,0,0.24,0.088,0.352l16,30.616c2.046,3.919,6.881,5.438,10.8,3.392s5.438-6.881,3.392-10.8l-6.512-12.448\
                                c43.014,12.93,89.195,10.417,130.552-7.104C319.189,415.039,321.093,410.345,319.372,406.276z')
                        g
                            g
                                path(d='M453.656,210.344c-3.124-3.123-8.188-3.123-11.312,0l-11.32,11.32c-6.624-70.07-51.111-130.876-115.888-158.4\
                                c-4.065-1.732-8.764,0.159-10.496,4.224c-1.732,4.065,0.159,8.764,4.224,10.496c58.11,24.697,98.504,78.669,105.816,141.384\
                                l-9.024-9.024c-3.178-3.07-8.242-2.982-11.312,0.196c-2.994,3.1-2.994,8.015,0,11.116l24,24c3.12,3.128,8.186,3.135,11.314,0.014\
                                c0.005-0.005,0.01-0.01,0.014-0.014l24-24C456.791,218.528,456.784,213.464,453.656,210.344z')
                        g
                            g
                                path(d='M175.768,69.272c-0.026-0.467-0.095-0.93-0.208-1.384c0-0.072-0.088-0.12-0.12-0.2c-0.032-0.08,0-0.136,0-0.2\
                                c-0.218-0.389-0.47-0.759-0.752-1.104c-0.259-0.469-0.565-0.911-0.912-1.32c-0.473-0.419-0.997-0.776-1.56-1.064\
                                c-0.281-0.239-0.581-0.456-0.896-0.648l-32-14.616c-4.087-1.678-8.761,0.275-10.439,4.362c-1.587,3.865,0.068,8.301,3.799,10.182\
                                l16.568,7.576C86.875,104.237,47.955,169.256,48,240c0,4.418,3.582,8,8,8s8-3.582,8-8c-0.04-62.293,32.901-119.952,86.584-151.552\
                                l-5.784,12.088c-1.907,3.977-0.236,8.747,3.736,10.664c1.079,0.527,2.263,0.801,3.464,0.8c3.072-0.004,5.87-1.767,7.2-4.536\
                                l16-33.384c0-0.08,0-0.168,0.064-0.248c0.208-0.547,0.353-1.116,0.432-1.696c0.137-0.431,0.239-0.872,0.304-1.32\
                                C175.973,70.295,175.896,69.778,175.768,69.272z')
                .kviz-progress__text Опыт работы
            .kviz-progress__item
                .kviz-progress__icon
                    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 59 60', version='1.1')
                        g(stroke='none', stroke-width='1', fill-rule='evenodd')
                            g(transform='translate(-1.000000, -1.000000)',  fill-rule='nonzero')
                                path(d='M2.471,38.391 C2.80026375,38.6192011 3.14777307,38.8198802 3.51,38.991 C3.942,39.212 4.667,39.582 4.717,39.841 C4.7807262,40.1827503 4.73995247,40.5357742 4.6,40.854 C4.451,41.174 4.294,41.449 4.16,41.687 C3.793,42.333 3.181,43.416 4.105,44.172 C4.321,44.372 4.694,44.661 5.035,44.922 C4.78441543,45.359553 4.67085435,45.8622176 4.709,46.365 C4.76229209,46.7608192 4.97692342,47.1169696 5.302,47.349 C5.524,47.505 5.761,47.641 5.995,47.774 C6.586,48.111 6.817,48.267 6.895,48.581 C6.95072661,48.9834757 6.91657463,49.3932994 6.795,49.781 C6.737,50.049 6.679,50.317 6.646,50.581 C6.54659663,51.4922755 6.6588426,52.4141982 6.974,53.275 C7.4234219,54.863697 8.8602194,55.9706445 10.511,56 C10.7865898,55.9991281 11.0613626,55.9699754 11.331,55.913 C14.1877405,55.2356794 17.0027993,54.3932653 19.762,53.39 C22.015,54.712 23.438,58.732 23.809,60.241 C23.9197719,60.6870872 24.3203652,61.0002183 24.78,61 L49.88,60.93 C50.198095,60.9293833 50.4969218,60.7774667 50.6848608,60.5208273 C50.8727998,60.2641879 50.9274293,59.9334437 50.832,59.63 C50.5840507,58.9525717 50.2427579,58.3130683 49.818,57.73 C49.5784791,57.3851857 49.3623284,57.0247119 49.171,56.651 C48.7194175,55.7335946 48.3418821,54.7815634 48.042,53.804 C47.4712015,51.8714821 47.0756037,49.8914849 46.86,47.888 C46.5081643,44.8963057 46.9614389,41.8649237 48.173,39.107 C48.9122569,37.5774407 49.8234731,36.137142 50.889,34.814 C51.489,34.004 52.112,33.165 52.673,32.282 C53.1938107,31.4520809 53.6379775,30.5764665 54,29.666 C55.3150596,29.2945562 56.5213762,28.6119944 57.517,27.676 C59.0958785,26.2101279 59.9951511,24.1544407 60,22 C59.9501626,18.7885357 57.9896138,15.9163691 55.017,14.7 C55.507314,13.5280603 55.759871,12.2703741 55.76,11 C55.6067648,5.3378462 50.9026476,0.866251916 45.24,1 C43.4093303,0.999034961 41.6076703,1.45735801 40,2.333 C37.1247537,1.29796907 34.0697235,0.85575336 31.019,1.033 C27.7654281,1.25882993 24.5327746,1.72273844 21.347,2.421 C16.838,3.321 13.56,4.902 11.325,7.266 C9.56000834,9.15404797 8.19529313,11.3797039 7.313,13.809 C6.95181045,14.8534401 6.65524975,15.9191216 6.425,17 L6.325,17.422 C6.11188832,18.2074692 5.82459624,18.9709027 5.467,19.702 C5.267,20.157 5.061,20.612 4.88,21.086 C4.65224528,21.611379 4.56207696,22.1861159 4.618,22.756 C4.81913234,23.6524828 5.33679367,24.4463722 6.076,24.992 C6.564,25.44 6.885,25.756 6.889,26.031 C6.85287471,26.1828944 6.79565216,26.3289802 6.719,26.465 C5.52119196,28.9879725 4.05327497,31.3735891 2.341,33.58 C1.617,34.461 0.859,35.489 1.018,36.518 C1.23142242,37.3119913 1.7549884,37.9868977 2.471,38.391 Z M53.76,11 C53.7597337,12.3234135 53.4125256,13.6236337 52.753,14.771 C52.5979411,15.0402773 52.5768688,15.3663346 52.695977,15.6533307 C52.8150853,15.9403268 53.0608385,16.1556469 53.361,16.236 C56.0314072,16.8895079 57.9324899,19.2516206 58,22 C57.9929687,23.6034822 57.3212829,25.1322463 56.145,26.222 C54.9097539,27.375114 53.2797857,28.0113562 51.59,28 L46.014,28 C45.947,27.925 45.895,27.841 45.824,27.769 C45.467596,27.4148908 45.0637379,27.1119972 44.624,26.869 C44.717374,26.5875004 44.7843298,26.2979167 44.824,26.004 L52,26.004 C52.5522847,26.004 53,25.5562847 53,25.004 C53,24.4517153 52.5522847,24.004 52,24.004 L44.687,24.004 C44.3382475,22.7454964 43.4868374,21.6860388 42.3328726,21.0746266 C41.1789078,20.4632144 39.8241493,20.3537644 38.587,20.772 C36.6555176,18.0960213 33.0567091,17.2361668 30.1241661,18.7499957 C27.1916231,20.2638246 25.8082187,23.6955829 26.871,26.82 C26.821,26.846 26.777,26.88 26.729,26.908 C25.0491566,25.8375634 24.0228437,23.9917798 24,22 C24.0070313,20.3965178 24.6787171,18.8677537 25.855,17.778 C26.6215032,17.0625396 27.5468575,16.5392003 28.555,16.251 C28.8652778,16.1613307 29.1131446,15.9273258 29.2205022,15.6227158 C29.3278599,15.3181058 29.281489,14.9803989 29.096,14.716 C28.537082,13.9207651 28.2380603,12.9720001 28.24,12 C28.3431743,9.14489567 30.7344481,6.91006033 33.59,7 C34.5425268,6.99461213 35.4802447,7.23575926 36.312,7.7 C36.5445335,7.82993886 36.8192994,7.86173275 37.075362,7.78833064 C37.3314246,7.71492852 37.5476193,7.54239739 37.676,7.309 C39.2243983,4.60228107 42.122065,2.95156112 45.24,3 C49.7980977,2.86637968 53.6066894,6.44252209 53.76,11 Z M27.372,28.871 L27.383,28.862 C27.7092583,28.6152818 28.0780369,28.4305535 28.471,28.317 C28.763448,28.2341892 29.0023593,28.0228658 29.1202557,27.7427159 C29.238152,27.4625661 29.222235,27.1440024 29.077,26.877 C28.2958388,25.4050658 28.3592836,23.6281979 29.2434355,22.2157253 C30.1275873,20.8032528 31.6981224,19.9697637 33.3634355,20.0292253 C35.0287485,20.088687 36.5358388,21.0320658 37.317,22.504 C37.4435678,22.7488566 37.6655894,22.9306138 37.9306182,23.0063363 C38.195647,23.0820589 38.4801786,23.0450312 38.717,22.904 C39.140163,22.6516423 39.6243118,22.5198847 40.117,22.523 C41.6478283,22.5279526 42.8868062,23.7691653 42.889,25.3 C42.8917313,25.8389168 42.7336601,26.3664012 42.435,26.815 C42.2588472,27.0781472 42.2177419,27.4091771 42.3241852,27.7074154 C42.4306285,28.0056537 42.6720397,28.2358515 42.975,28.328 C43.5164129,28.4931187 44.0091147,28.7883964 44.41,29.188 C45.3805531,30.163243 45.6694776,31.6264316 45.1424639,32.8973875 C44.6154502,34.1683434 43.3758878,34.9977306 42,35 L29.407,35 C27.5253659,35 26,33.4746341 26,31.593 C26.0048702,30.5206448 26.5128772,29.5127768 27.372,28.871 Z M3.924,34.8 C5.71353526,32.4953873 7.24784001,30.0034832 8.5,27.368 C8.7352421,26.9548156 8.86763342,26.491103 8.886,26.016 C8.78386015,25.0104644 8.25093667,24.0985488 7.425,23.516 C7.025,23.145 6.639,22.795 6.595,22.471 C6.60291104,22.2346006 6.65550369,22.0018357 6.75,21.785 C6.913,21.357 7.102,20.937 7.29,20.517 C7.70056527,19.6709167 8.02842184,18.787144 8.269,17.878 L8.369,17.452 C8.58139683,16.4521828 8.85491022,15.4663323 9.188,14.5 C9.97697112,12.3245803 11.1973938,10.3310192 12.776,8.639 C14.689,6.615 17.7,5.183 21.74,4.38 C24.8299393,3.70168451 27.9652696,3.24981727 31.121,3.028 C33.4284043,2.89675508 35.7415794,3.14986949 37.966,3.777 C37.382929,4.3033167 36.8634013,4.89600791 36.418,5.543 C35.5183644,5.18407047 34.5585941,4.99978644 33.59,5 C29.629906,4.90994712 26.3431147,8.04022455 26.24,12 C26.2386446,12.951221 26.4401238,13.8917982 26.831,14.759 C25.966884,15.1472515 25.1731204,15.6760892 24.482,16.324 C22.9034908,17.7900465 22.0045905,19.8457107 22,22 C22.0200042,24.4636419 23.1928597,26.7756736 25.169,28.247 C23.8824314,29.871188 23.6386642,32.0883164 24.5416151,33.953236 C25.444566,35.8181556 27.3349861,37.00196 29.407,37 L42,37 C43.7229049,37.0213967 45.3503089,36.2103004 46.3704974,34.8217491 C47.3906859,33.4331978 47.6783359,31.6377651 47.143,30 L51.59,30 C51.617,30 51.643,30 51.67,30 C51.463,30.408 51.24,30.815 50.985,31.218 C50.466,32.039 49.866,32.847 49.285,33.629 C48.1278779,35.0728493 47.140408,36.6448155 46.342,38.314 C44.9882182,41.3985661 44.4821396,44.7885333 44.876,48.134 C45.1066185,50.2562409 45.5279887,52.3533861 46.135,54.4 C46.4639651,55.4752817 46.8789726,56.5223313 47.376,57.531 C47.6039597,57.981734 47.8629147,58.4161101 48.151,58.831 L48.218,58.931 L25.536,59 C24.8717541,56.627989 23.6669103,54.4421559 22.016,52.614 L22.916,52.298 C23.585,52.065 24.089,51.889 24.347,51.806 C28.632,50.451 30.774,48.5 30.716,46.006 C30.7162234,45.7400668 30.6079226,45.4855576 30.4161421,45.3013275 C30.2243616,45.1170974 29.9657098,45.019101 29.7,45.03 C29.1480455,45.043101 28.711146,45.5010397 28.724,46.053 C28.748,47.082 27.905,48.583 23.747,49.898 C23.476,49.985 22.955,50.167 22.264,50.408 C21.52,50.668 20.575,50.999 19.531,51.353 L19.525,51.353 C16.7107073,52.3842961 13.8392719,53.2524045 10.925,53.953 C9.99290296,54.1305494 9.08611748,53.5432097 8.867,52.62 C8.65403967,52.0505889 8.57367075,51.4401271 8.632,50.835 C8.659,50.626 8.706,50.417 8.752,50.208 C8.95538984,49.5169007 8.98493135,48.7862637 8.838,48.081 C8.54781232,47.1628818 7.87254397,46.4164365 6.988,46.036 C6.918,45.997 6.849,45.957 6.78,45.917 C6.88833948,45.6989801 7.01761396,45.492007 7.166,45.299 C7.33365336,45.0863106 7.40787187,44.8147167 7.37168403,44.5463235 C7.33549619,44.2779303 7.19199688,44.0356917 6.974,43.875 C6.734,43.699 6.168,43.275 5.753,42.941 C5.801,42.854 5.853,42.758 5.904,42.672 C6.061,42.396 6.241,42.072 6.415,41.706 C6.73195159,41.0051861 6.82518406,40.2237094 6.682,39.468 C6.442,38.248 5.273,37.65 4.42,37.214 C4.13261917,37.0772821 3.8570164,36.9170713 3.596,36.735 C3.3817006,36.5914967 3.18087589,36.4288287 2.996,36.249 C3,36.1 3.162,35.731 3.924,34.8 Z')
                                path(d='M39.821,9.635 C40.0533107,9.76318988 40.3270433,9.79379979 40.5819312,9.72009047 C40.8368192,9.64638116 41.0519646,9.47439592 41.18,9.242 C42.0249377,7.81197062 43.5796582,6.95342791 45.24,7 C47.5886521,6.868206 49.6051898,8.65275267 49.76,11 C49.7597627,11.6243086 49.5959942,12.2376648 49.285,12.779 C49.0088577,13.258107 49.173393,13.8703576 49.6525,14.1465 C50.131607,14.4226423 50.7438576,14.258107 51.02,13.779 C51.5051079,12.9331798 51.7602389,11.9750597 51.76,11 C51.606911,7.54710861 48.693694,4.86623406 45.24,5 C42.8506164,4.95304434 40.6244633,6.20822391 39.428,8.277 C39.1617285,8.76054823 39.3376365,9.36839325 39.821,9.635 Z')
                                path(d='M35.338,9.45 C34.8041084,9.15122145 34.2017959,8.99616389 33.59,9 C31.8390942,8.91072666 30.3436961,10.2498891 30.24,12 C30.2410308,12.5610961 30.4156881,13.1081226 30.74,13.566 C30.9412031,13.8681568 31.2903529,14.0375447 31.6522105,14.0085535 C32.0140681,13.9795623 32.3317953,13.7567456 32.4823245,13.4264088 C32.6328536,13.096072 32.5925405,12.7101022 32.377,12.418 C32.287604,12.2970076 32.2395646,12.1504347 32.24,12 C32.24,11.458 32.858,11 33.59,11 C33.8600804,10.9979942 34.1259505,11.0669618 34.361,11.2 C34.6730537,11.3790683 35.0572466,11.3767024 35.3670713,11.1938045 C35.676896,11.0109067 35.8645882,10.6756733 35.8585738,10.3159418 C35.8525594,9.9562102 35.6537656,9.62743855 35.338,9.455 L35.338,9.45 Z')
                                path(d='M31,33 L41,33 C41.5522847,33 42,32.5522847 42,32 C42,31.4477153 41.5522847,31 41,31 L31,31 C30.4477153,31 30,31.4477153 30,32 C30,32.5522847 30.4477153,33 31,33 Z')
                                path(d='M10.966,19.541 C11.5036006,19.6657991 12.0406657,19.3314761 12.166,18.794 L12.266,18.361 C12.4412611,17.5251451 12.6646327,16.7001058 12.935,15.89 C13.5378535,14.2207868 14.4711212,12.6902822 15.679,11.39 C16.9752482,10.1677817 18.56199,9.29662258 20.289,8.859 C20.6307245,8.75467845 20.8908361,8.47597349 20.9713533,8.12787058 C21.0518705,7.77976768 20.9405607,7.41515194 20.6793533,7.17137058 C20.4181459,6.92758923 20.0467245,6.84167845 19.705,6.946 C17.6448677,7.48195529 15.7575511,8.5396103 14.225,10.017 C12.8322993,11.5141486 11.7561411,13.277021 11.061,15.2 C10.7612456,16.087314 10.5141488,16.9915545 10.321,17.908 L10.221,18.341 C10.0960876,18.8779763 10.4293361,19.4147523 10.966,19.541 Z')
                                circle(cx='10', cy='22', r='1')
                .kviz-progress__text Ваши ожидания
            .kviz-progress__item
                .kviz-progress__icon
                    svg(height='512pt', viewBox='0 0 512.00037 512',xmlns='http://www.w3.org/2000/svg')
                        g(fill-rule='evenodd')
                            path(d='m248.953125 61.273438c-5.367187-1.238282-10.722656 2.101562-11.964844 7.46875-1.242187 5.367187 2.105469 10.726562 7.472657 11.96875 24.8125 5.734374 47.492187 18.332031 65.582031 36.421874 53.183593 53.183594 53.183593 139.726563 0 192.910157-53.183594 53.1875-139.726563 53.1875-192.910157 0-53.1875-53.183594-53.1875-139.726563 0-192.910157 15.269532-15.269531 33.339844-26.40625 53.710938-33.109374 5.230469-1.71875 8.078125-7.355469 6.359375-12.589844-1.722656-5.234375-7.363281-8.082032-12.59375-6.359375-23.367187 7.683593-44.085937 20.453125-61.582031 37.953125-60.964844 60.964844-60.964844 160.160156 0 221.125 30.480468 30.480468 70.519531 45.722656 110.5625 45.722656 40.039062-.003906 80.078125-15.242188 110.5625-45.722656 60.960937-60.964844 60.960937-160.160156 0-221.125-20.738282-20.734375-46.738282-35.175782-75.199219-41.753906zm0 0')
                            path(d='m498.414062 432.707031-104.53125-104.53125c53.601563-84.054687 41.863282-194.484375-29.265624-265.617187-40.339844-40.339844-93.976563-62.558594-151.027344-62.558594-57.054688 0-110.691406 22.21875-151.03125 62.558594-40.34375 40.339844-62.558594 93.976562-62.558594 151.03125 0 57.050781 22.214844 110.6875 62.558594 151.027344 40.339844 40.339843 93.972656 62.554687 151.023437 62.554687 40.945313 0 80.386719-11.484375 114.59375-33.289063l104.53125 104.53125c8.746094 8.75 20.414063 13.566407 32.855469 13.566407 12.4375 0 24.105469-4.816407 32.855469-13.566407 18.109375-18.117187 18.109375-47.589843-.003907-65.707031zm-14.105468 51.601563c-4.980469 4.976562-11.636719 7.71875-18.746094 7.71875-7.113281 0-13.769531-2.742188-18.75-7.71875l-110.304688-110.304688c-1.929687-1.933594-4.484374-2.921875-7.054687-2.921875-1.976563 0-3.960937.582031-5.683594 1.777344-32.410156 22.480469-70.515625 34.363281-110.1875 34.363281-51.722656 0-100.347656-20.140625-136.917969-56.710937-75.5-75.5-75.5-198.347657 0-273.847657 36.574219-36.574218 85.199219-56.714843 136.925782-56.714843 51.722656 0 100.347656 20.140625 136.921875 56.714843 66.28125 66.285157 75.683593 170.207032 22.347656 247.105469-2.75 3.964844-2.269531 9.324219 1.144531 12.738281l110.304688 110.304688c10.335937 10.335938 10.335937 27.15625 0 37.496094zm0 0')
                            path(d='m273.804688 153.371094c-3.894532-3.894532-10.207032-3.894532-14.105469 0l-46.109375 46.109375-46.113282-46.109375c-3.894531-3.894532-10.210937-3.894532-14.105468 0-3.894532 3.894531-3.894532 10.210937 0 14.105468l46.109375 46.113282-46.109375 46.109375c-3.894532 3.894531-3.894532 10.210937 0 14.105469 1.945312 1.949218 4.5 2.921874 7.050781 2.921874 2.554687 0 5.105469-.972656 7.054687-2.921874l46.109376-46.109376 46.109374 46.109376c1.949219 1.949218 4.503907 2.921874 7.054688 2.921874 2.554688 0 5.105469-.972656 7.054688-2.921874 3.894531-3.894532 3.894531-10.210938 0-14.105469l-46.113282-46.109375 46.113282-46.113282c3.894531-3.894531 3.894531-10.210937 0-14.105468zm0 0')
                            path(d='m206.976562 77.328125c5.492188 0 9.972657-4.480469 9.972657-9.976563 0-5.492187-4.480469-9.972656-9.972657-9.972656-5.496093 0-9.976562 4.480469-9.976562 9.972656 0 5.496094 4.480469 9.976563 9.976562 9.976563zm0 0')
                .kviz-progress__text Проблемы <br> в работе
            .kviz-progress__item
                .kviz-progress__icon
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                        g
                            g
                                path(d='M346,0c-5.522,0-10,4.478-10,10v46c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10V10C356,4.478,351.522,0,346,0z')
                        g
                            g
                                path(d='M116,312c-5.52,0-10,4.48-10,10c0,5.52,4.48,10,10,10s10-4.48,10-10C126,316.48,121.52,312,116,312z')
                        g
                            g
                                path(d='M486,292c0-22.056-17.944-40-40-40h-74.652c11.557-29.603,16.235-64.447,15.333-95.464\
                                c-0.172-5.919-0.399-9.342-0.706-11.497C385.458,123.432,367.716,106,346,106c-22.056,0-40,17.944-40,40v10\
                                c0,63.246-81.214,98.781-142.504,114.019C158.862,259.425,148.284,252,136,252H36c-5.522,0-10,4.478-10,10v240\
                                c0,5.522,4.478,10,10,10h100c12.202,0,22.719-7.327,27.401-17.809c5.075,1.302,9.786,2.532,14.135,3.668\
                                C212.451,506.978,231.684,512,278.46,512H386c22.056,0,40-17.944,40-40c0-8.224-2.497-15.874-6.77-22.238\
                                C434.678,444.359,446,429.599,446,412c0-8.194-2.436-15.869-6.696-22.262C454.684,384.326,466,369.6,466,352\
                                c0-8.224-2.497-15.874-6.77-22.238C474.678,324.359,486,309.599,486,292z M146,482c0,5.514-4.486,10-10,10H46V272h90\
                                c5.514,0,10,4.486,10,10V482z M446,312c-21.449,0-26.562,0-50,0c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h30\
                                c11.028,0,20,8.972,20,20c0,11.046-8.954,20-20,20h-50c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h30\
                                c10.897,0,20,8.705,20,20c0,11.046-8.954,20-20,20c-21.449,0-26.562,0-50,0c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h30\
                                c11.028,0,20,8.972,20,20s-8.972,20-20,20H278.46c-44.207,0-61.473-4.509-95.87-13.492c-5.039-1.316-10.566-2.759-16.59-4.295\
                                V290.025C238.368,272.787,326,230.711,326,156v-10c0-11.028,8.972-20,20-20c11.008,0,19.979,8.958,20,19.969V146\
                                c0,4.346,5.424,57.683-16.326,106H316c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10c6.983,0,118.602,0,130,0\
                                c11.028,0,20,8.972,20,20C466,303.046,457.046,312,446,312z')
                        g
                            g
                                path(d='M116,352c-5.522,0-10,4.478-10,10v80c0,5.522,4.478,10,10,10c5.522,0,10-4.478,10-10v-80C126,356.478,121.522,352,116,352\
                            z')
                        g
                            g
                                path(d='M266,126h-40c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h40c5.522,0,10-4.478,10-10C276,130.478,271.522,126,266,126\
                            z')
                        g
                            g
                                path(d='M466,126h-40c-5.522,0-10,4.478-10,10c0,5.522,4.478,10,10,10h40c5.522,0,10-4.478,10-10C476,130.478,471.522,126,466,126\
                            z')
                        g
                            g
                                path(d='M437.921,44.079c-3.906-3.904-10.236-3.904-14.143,0l-28.279,28.279c-3.905,3.905-3.905,10.237,0,14.143\
                                c3.907,3.905,10.236,3.904,14.143,0l28.279-28.279C441.826,54.317,441.826,47.985,437.921,44.079z')
                        g
                            g
                                path(d='M296.501,72.358l-28.279-28.279c-3.906-3.904-10.236-3.904-14.143,0c-3.905,3.905-3.905,10.237,0,14.143l28.279,28.279\
                                c3.908,3.905,10.237,3.904,14.143,0C300.406,82.596,300.406,76.264,296.501,72.358z')
                .kviz-progress__text Что нравится <br> в бизнесе
            .kviz-progress__item
                .kviz-progress__icon
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
                        g
                            g
                                path(d='M422.503,270.613c-4.115,0-7.451,3.336-7.451,7.451c0,5.217-4.244,9.461-9.461,9.461c-5.216,0-9.461-4.244-9.461-9.461\
                                c0-4.116-3.336-7.451-7.451-7.451s-7.451,3.336-7.451,7.451c0,13.434,10.93,24.363,24.363,24.363\
                                c13.433,0,24.363-10.93,24.363-24.363C429.954,273.947,426.618,270.613,422.503,270.613z')
                        g
                            g
                                path(d='M492.444,271.83l-20.972-6.718c-2.686-0.861-4.803-3.005-5.662-5.736c-4.42-14.053-11.09-27.246-19.825-39.214\
                                c-3.981-5.455-8.408-10.664-13.244-15.623c3.094-13.573,4.776-28.934,4.558-42.205c-0.312-18.985-4.106-30.12-11.598-34.044\
                                c-4.035-2.116-16.315-8.544-82.782,21.882c-1.574,0.72-3.044,1.607-4.405,2.623c-4.481-1.204-9.061-2.318-13.669-3.318\
                                c-0.555-0.121-1.127-0.228-1.686-0.346c5.386-11.766,8.531-24.545,9.122-37.737c0.184-4.112-2.999-7.594-7.111-7.777\
                                c-4.101-0.204-7.594,2.998-7.777,7.11c-0.971,21.691-9.969,42.1-25.335,57.467c-9.181,9.181-19.931,15.85-31.388,20.05\
                                c-19.869-2.788-40.107-2.788-59.976,0c-11.458-4.2-22.207-10.869-31.388-20.05c-16.394-16.394-25.423-38.191-25.423-61.376\
                                c0-23.186,9.029-44.982,25.423-61.376c16.394-16.395,38.192-25.424,61.376-25.424c23.184,0,44.982,9.029,61.376,25.424\
                                c6.588,6.588,12.032,14.106,16.181,22.343c1.851,3.676,6.332,5.156,10.007,3.304c3.676-1.85,5.155-6.331,3.304-10.006\
                                c-4.863-9.659-11.24-18.466-18.953-26.18c-19.209-19.209-44.749-29.788-71.914-29.788c-27.165,0-52.705,10.579-71.914,29.788\
                                c-19.209,19.21-29.788,44.749-29.788,71.914s10.579,52.705,29.788,71.914c5.541,5.541,11.569,10.306,17.945,14.298\
                                c0.002,0,0.004-0.001,0.006-0.001c-4.633,1.204-9.231,2.556-13.778,4.076c-3.903,1.305-6.009,5.526-4.704,9.43\
                                c1.304,3.903,5.527,6.009,9.429,4.705c40.636-13.585,85.396-13.585,126.032,0c0.784,0.262,1.58,0.386,2.363,0.386\
                                c3.117,0,6.023-1.972,7.066-5.091c1.305-3.903-0.801-8.125-4.704-9.43c-4.547-1.52-9.145-2.873-13.778-4.076\
                                c0.002,0,0.004,0.001,0.006,0.001c6.377-3.992,12.404-8.757,17.945-14.298c4.902-4.902,9.229-10.255,12.986-15.944\
                                c2.054,0.399,4.093,0.817,6.102,1.253c2.676,0.581,5.34,1.205,7.98,1.86c-0.083,0.324-0.168,0.647-0.237,0.976\
                                c-3.634,17.245-3.398,32.497,0.701,45.33c3.684,11.535,10.333,20.88,19.76,27.777c11.111,8.128,24.525,11.639,36.676,11.639\
                                c9.145,0,17.576-1.99,23.768-5.497c7.004-3.967,12.872-12.326,17.517-24.876c2.147,2.506,4.182,5.073,6.1,7.701\
                                c7.777,10.654,13.714,22.396,17.646,34.898c2.309,7.343,8.041,13.121,15.332,15.458l20.972,6.718\
                                c5.503,1.763,9.2,6.828,9.2,12.606v34.775c0,5.778-3.697,10.843-9.2,12.606l-33.789,10.823\
                                c-5.406,1.733-9.981,5.448-12.882,10.462c-13.275,22.942-34.146,41.927-62.037,56.428c-3.222,1.677-5.454,4.676-6.126,8.23\
                                l-10.822,57.303c-0.299,1.579-1.682,2.724-3.289,2.724h-35.187c-1.607,0-2.99-1.146-3.289-2.724l-5.994-31.669\
                                c-1.18-6.231-7.024-10.37-13.314-9.417c-15.157,2.292-30.775,3.453-46.418,3.453c-11.638,0-23.127-0.649-34.15-1.93\
                                c-6.095-0.701-11.773,3.454-12.912,9.472l-5.696,30.091c-0.299,1.579-1.682,2.724-3.289,2.724h-35.187\
                                c-1.607,0-2.99-1.146-3.293-2.748l-10.42-54.122c-0.671-3.487-2.861-6.452-6.012-8.135C96.25,401.595,71.12,359.191,71.12,304.351\
                                c0-27.708,6.062-52.209,18.017-72.825c11.156-19.239,27.45-35.146,48.429-47.281c3.562-2.061,4.779-6.619,2.719-10.182\
                                c-2.06-3.562-6.618-4.777-10.181-2.719C89.425,194.876,64.89,231.18,58.135,277.29v-0.001c-0.717-0.065-1.435-0.127-2.15-0.201\
                                c0.13-4.975-0.77-9.995-2.73-14.867c-4.323-10.746-13.203-18.502-22.624-19.759c-7.424-0.994-14.489,2.158-19.392,8.636\
                                c-7.109,9.394-5.95,16.828-3.727,21.41c3.753,7.733,13.4,13.203,29.409,16.642c-0.44,0.659-0.924,1.321-1.454,1.986\
                                c-9.459,11.863-20.603,14.486-27.839,14.733C3.392,306.012,0,309.413,0,313.652v0.036c0,4.181,3.299,7.591,7.476,7.782\
                                c0.535,0.025,1.094,0.038,1.676,0.038c9.156,0,23.851-3.377,37.969-21.08c2.229-2.794,4.045-5.742,5.441-8.788\
                                c1.406,0.159,2.757,0.295,4.051,0.415c0-0.003,0-0.005,0.001-0.008c-0.254,4.038-0.395,8.135-0.395,12.304\
                                c0,31.028,7.397,58.693,21.984,82.23c13.45,21.7,32.707,39.468,57.255,52.83l10.13,52.616c1.629,8.608,9.17,14.856,17.931,14.856\
                                h35.187c8.761,0,16.302-6.248,17.931-14.856l5.15-27.208c10.696,1.133,21.77,1.707,32.965,1.707c15.36,0,30.702-1.07,45.654-3.182\
                                l5.429,28.685c1.63,8.608,9.171,14.855,17.931,14.855h35.187c8.761,0,16.302-6.248,17.932-14.859l10.537-55.791\
                                c29.768-15.741,52.206-36.419,66.704-61.475c1.045-1.806,2.654-3.131,4.53-3.732l33.788-10.823\
                                C504.141,356.455,512,345.686,512,333.403v-34.775C512,286.346,504.141,275.577,492.444,271.83z M421.278,183.273\
                                c-2.868,24.526-10.561,45.506-18.291,49.884c-8.786,4.977-29.071,5.938-44.301-5.203c-15.248-11.154-20.323-31.212-14.678-58.006\
                                c0-0.001,0-0.001,0-0.001c0.567-2.691,2.479-5.019,5.114-6.225c37.304-17.076,58.811-22.661,66.801-22.661\
                                c1.206,0,2.104,0.127,2.702,0.361C421.025,143.98,424.173,158.521,421.278,183.273z M20.921,266.001\
                                c-0.771-1.59,1.049-4.385,2.203-5.911c1.829-2.416,3.514-2.91,4.787-2.91c0.269,0,0.52,0.022,0.75,0.053\
                                c3.426,0.457,8.226,4.227,10.769,10.548c0.599,1.488,1.377,3.953,1.559,7.027C30.674,272.671,22.66,269.59,20.921,266.001z')
                        g
                            g
                                path(d='M237.918,98.277V71.613c9.195,0.657,12.611,4.86,15.763,4.86c3.941,0,5.78-4.991,5.78-7.487\
                                c0-6.437-12.611-9.195-21.543-9.458V55.98c0-1.576-1.971-3.021-3.941-3.021c-2.234,0-3.81,1.445-3.81,3.021v3.809\
                                c-12.479,1.314-24.958,7.882-24.958,24.433c0,16.814,13.136,21.543,24.958,25.746v30.869\
                                c-13.399-1.051-16.945-10.246-21.28-10.246c-3.284,0-6.042,4.335-6.042,7.488c0,6.436,11.034,15.237,27.322,15.5h0v4.072\
                                c0,1.576,1.577,3.021,3.81,3.021c1.971,0,3.941-1.445,3.941-3.021v-4.466c14.187-1.971,23.907-10.903,23.907-27.06\
                                C261.825,108.261,249.346,102.48,237.918,98.277z M230.955,95.782c-6.962-2.627-12.61-5.385-12.61-12.872\
                                c0-6.831,5.254-10.115,12.61-11.034V95.782z M237.129,140.574v-27.716c6.436,2.758,11.559,6.436,11.559,14.711\
                                C248.688,135.058,244.222,139.261,237.129,140.574z')
                .kviz-progress__text На что <br> зарабатываете
            .kviz-progress__item
                .kviz-progress__icon
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewBox='0 0 470 470', style='enable-background:new 0 0 470 470;', xml:space='preserve')
                        g
                            path(d='M122.268,68.085c2.924,0,5.704-1.721,6.913-4.584c1.611-3.816-0.176-8.215-3.991-9.827l-21.372-9.025\
                            c-3.816-1.612-8.215,0.176-9.827,3.991c-1.611,3.816,0.176,8.215,3.991,9.827l21.372,9.025\
                            C120.307,67.895,121.295,68.085,122.268,68.085z')
                            path(d='M433.8,88.115h-28.384c9.407-9.345,15.242-22.282,15.242-36.558C420.658,23.129,397.529,0,369.1,0\
                            c-7.336,0-14.454,1.524-21.17,4.535l-43.122,19.442l-32.534,14.679v-2.589c0-4.142-3.358-7.5-7.5-7.5h-59.548\
                            c-4.142,0-7.5,3.358-7.5,7.5v2.59l-75.67-34.129C115.354,1.524,108.236,0,100.9,0C72.471,0,49.342,23.129,49.342,51.558\
                            c0,14.276,5.835,27.212,15.242,36.558H36.2c-4.142,0-7.5,3.358-7.5,7.5v71.791c0,4.142,3.358,7.5,7.5,7.5h3.874V462.5\
                            c0,4.142,3.358,7.5,7.5,7.5h374.853c4.142,0,7.5-3.358,7.5-7.5V174.906h3.874c4.142,0,7.5-3.358,7.5-7.5V95.615\
                            C441.3,91.473,437.942,88.115,433.8,88.115z M264.774,395c-4.142,0-7.5,3.358-7.5,7.5V455h-44.548V174.906h44.548V372.5\
                            c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V174.906h142.652V455H272.274v-52.5C272.274,398.358,268.916,395,264.774,395z\
                            M64.342,51.558C64.342,31.4,80.742,15,100.9,15c5.207,0,10.26,1.082,15.005,3.21c24.609,11.094,68.01,30.662,81.821,36.9v29.197\
                            l-44.899-18.961c-3.816-1.612-8.215,0.176-9.827,3.991c-1.611,3.816,0.176,8.215,3.991,9.827l21.197,8.952H100.9\
                            C80.742,88.115,64.342,71.716,64.342,51.558z M405.658,51.558c0,20.158-16.4,36.558-36.558,36.558h-67.288l70.206-29.648\
                            c3.815-1.612,5.603-6.011,3.991-9.827s-6.011-5.604-9.827-3.991l-93.908,39.658V55.109c13.811-6.237,57.21-25.805,81.807-36.894\
                            C358.84,16.082,363.893,15,369.1,15C389.258,15,405.658,31.4,405.658,51.558z M426.3,159.906H282.274v-56.791H426.3V159.906z\
                            M212.726,50.592c0.016-0.275,0.017-0.562,0-0.86v-6.165h44.548v6.165c-0.017,0.298-0.016,0.585,0,0.86v37.523h-44.548V50.592z\
                            M205.183,103.115c0.066,0,59.568,0,59.568,0c0.066,0,2.523,0,2.523,0v56.791h-64.548v-56.791H205.183z M187.726,103.115v56.791\
                            H43.7v-56.791H187.726z M55.074,174.906h142.652V455H55.074V174.906z')
                .kviz-progress__text Получить бонусы <br> и результат
        .kviz-qa
            form(class="quizForm")
                .step-slide.step-slide--active
                    .step-slide__num Шаг 1 из 5
                    .step-slide__title Есть ли у вас опыт работы в сетевой компании?
                    .kviz__ans.question__ans--radio
                        label.pick-item(for="step1-1")
                            input#step1-1.pick-item__input(type='radio', name='question1', value='Да, но уже не работаю')
                            .pick-item__label Да, но уже не работаю
                        label.pick-item(for="step1-2")
                            input#step1-2.pick-item__input(type='radio', name='question1', value='Да, еще работаю')
                            .pick-item__label Да, еще работаю
                        label.pick-item(for="step1-3")
                            input#step1-3.pick-item__input(type='radio', name='question1', value='Нет, но знаю принцип работы')
                            .pick-item__label Нет, но знаю принцип <span class="desctop-br"></span>работы
                    .prev-next-container
                        .kviz__error
                        a.btn.btn-next.qa-next(href='#') Далее
                .step-slide
                    .step-slide__num Шаг 2 из 5
                    .step-slide__title Какие ваши главные ожидания от работы в сетевой компани?
                        .step-slide__subtitle (Возможно выбрать несколько вариантов)
                    .kviz__ans.question__ans--radio
                        label.pick-item(for="step2-1")
                            input#step2-1.pick-item__input(type='checkbox', name='question2-1', value='Поддержку не только в начале, но и на протяжении всей работы')
                            .pick-item__label Поддержку не только <span class="desctop-br"></span>в начале, но и на протяжении <span class="desctop-br"></span>всей работы
                        label.pick-item(for="step2-2")
                            input#step2-2.pick-item__input(type='checkbox', name='question2-2', value='Системный рост прибыли')
                            .pick-item__label Системный рост <span class="desctop-br"></span>прибыли
                        label.pick-item(for="step2-3")
                            input#step2-3.pick-item__input(type='checkbox', name='question2-3', value='Постоянное обучение новым инструментам')
                            .pick-item__label Постоянное обучение <span class="desctop-br"></span>новым инструментам
                        label.pick-item(for="step2-4")
                            input#step2-4.pick-item__input(type='checkbox', name='question2-4', value='Помощь в привлечении людей')
                            .pick-item__label Помощь <span class="desctop-br"></span>в привлечении людей
                        label.pick-item(for="step2-5")
                            input#step2-5.pick-item__input(type='checkbox', name='question2-5', value='Высокое качество и востребованность продукции')
                            .pick-item__label Высокое качество <span class="desctop-br"></span>и востребованность <span class="desctop-br"></span>продукции
                        label.pick-item(for="step2-6")
                            input#step2-6.pick-item__input(type='checkbox', name='question2-6', value='Возможность построить успешную структуру за один год')
                            .pick-item__label Возможность построить <span class="desctop-br"></span>успешную структуру <span class="desctop-br"></span>за один год
                        label.pick-item(for="step2-7")
                            input#step2-7.pick-item__input(type='checkbox', name='question2-7', value='Возможность выйти за пределы страны и привлекать в структуру людей со всего мира')
                            .pick-item__label Возможность выйти <span class="desctop-br"></span>за пределы страны <span class="desctop-br"></span>и привлекать в структуру <span class="desctop-br"></span>людей со всего мира
                        label.pick-item(for="step2-8")
                            input#step2-8.pick-item__input(type='checkbox', name='question2-8', value='Другое')
                            .pick-item__label Другое
                    .prev-next-container
                        .kviz__error
                        a.btn.btn--white.btn-prev.qa-prev(href='#') Назад
                        a.btn.btn-next.qa-next(href='#') Далее
                .step-slide
                    .step-slide__num Шаг 3 из 5
                    .step-slide__title С какими проблемами вы сталкивались в процессе работы?
                    .kviz__ans.question__ans--radio
                        label.pick-item(for="step3-1")
                            input#step3-1.pick-item__input(type='radio', name='question3', value='Рынок меньше, чем на нем дистрибьюторов')
                            .pick-item__label Рынок меньше, чем на нем <span class="desctop-br"></span>дистрибьюторов
                        label.pick-item(for="step3-2")
                            input#step3-2.pick-item__input(type='radio', name='question3', value='Я в первой линии у лидера, но все равно не зарабатываю')
                            .pick-item__label Я в первой линии <span class="desctop-br"></span>у лидера, но все равно <span class="desctop-br"></span>не зарабатываю
                        label.pick-item(for="step3-3")
                            input#step3-3.pick-item__input(type='radio', name='question3', value='Мой наставник никак не проявляется, не поддерживает и не обучает')
                            .pick-item__label Мой наставник никак <span class="desctop-br"></span>не проявляется, <span class="desctop-br"></span>не поддерживает <span class="desctop-br"></span>и не обучает
                        label.pick-item(for="step3-4")
                            input#step3-4.pick-item__input(type='radio', name='question3', value='Я долгое время в бизнесе, но команда не растет')
                            .pick-item__label Я долгое время в бизнесе, <span class="desctop-br"></span>но команда не растет
                        label.pick-item(for="step3-5")
                            input#step3-5.pick-item__input(type='radio', name='question3', value=' “Теплый список” выгорел, а холодные контакты не приходят на встречи')
                            .pick-item__label “Теплый список” выгорел, <span class="desctop-br"></span>а холодные контакты не <span class="desctop-br"></span>приходят на встречи
                        label.pick-item(for="step3-6")
                            input#step3-6.pick-item__input(type='radio', name='question3', value='Продукт компании мне не подходит или не интересен')
                            .pick-item__label Продукт компании <span class="desctop-br"></span>мне не подходит или <span class="desctop-br"></span>не интересен
                    .prev-next-container
                        .kviz__error
                        a.btn.btn--white.btn-prev.qa-prev(href='#') Назад
                        a.btn.btn-next.qa-next(href='#') Далее
                .step-slide
                    .step-slide__num Шаг 4 из 5
                    .step-slide__title Что в целом вам нравится в сетевом бизнесе?
                    .kviz__ans.question__ans--radio
                        label.pick-item(for="step4-1")
                            input#step4-1.pick-item__input(type='radio', name='question4', value='Возможность работать из любой точки мира')
                            .pick-item__label Возможность работать <span class="desctop-br"></span>из любой точки мира
                        label.pick-item(for="step4-2")
                            input#step4-2.pick-item__input(type='radio', name='question4', value='Возможность распоряжаться своим временем и графиком работы')
                            .pick-item__label Возможность распоряжаться <span class="desctop-br"></span>своим временем и графиком <span class="desctop-br"></span>работы
                        label.pick-item(for="step4-3")
                            input#step4-3.pick-item__input(type='radio', name='question4', value='Перспективы финансового заработка')
                            .pick-item__label Перспективы финансового <span class="desctop-br"></span>заработка
                        label.pick-item(for="step4-4")
                            input#step4-4.pick-item__input(type='radio', name='question4', value='Возможность быть частью большой команды, знакомиться с новыми людьми')
                            .pick-item__label Возможность <span class="desctop-br"></span>быть частью большой <span class="desctop-br"></span>команды, знакомиться <span class="desctop-br"></span>с новыми людьми
                        label.pick-item(for="step4-5")
                            input#step4-5.pick-item__input(type='radio', name='question4', value='Возможность быть вкладом в благополучие других людей')
                            .pick-item__label Возможность быть <span class="desctop-br"></span>вкладом в благополучие <span class="desctop-br"></span>других людей 
                    .prev-next-container
                        .kviz__error
                        a.btn.btn--white.btn-prev.qa-prev(href='#') Назад
                        a.btn.btn-next.qa-next(href='#') Далее
                .step-slide
                    .step-slide__num Шаг 5 из 5
                    .step-slide__title На что вы хотите тратить деньги, заработанные в сетевом бизнесе?
                    .kviz__ans.question__ans--radio
                        label.pick-item(for="step5-1")
                            input#step5-1.pick-item__input(type='radio', name='question5', value='Закрыть базовые потребности')
                            .pick-item__label Закрыть базовые потребности
                        label.pick-item(for="step5-2")
                            input#step5-2.pick-item__input(type='radio', name='question5', value='Накопить на большую покупку (квартира, дом, автомобиль и пр.)')
                            .pick-item__label Накопить на большую <span class="desctop-br"></span>покупку (квартира, дом, <span class="desctop-br"></span>автомобиль и пр.)
                        label.pick-item(for="step5-3")
                            input#step5-3.pick-item__input(type='radio', name='question5', value='Путешествовать  по миру')
                            .pick-item__label Путешествовать <span class="desctop-br"></span> по миру
                        label.pick-item(for="step5-4")
                            input#step5-4.pick-item__input(type='radio', name='question5', value='Переехать жить в другую страну')
                            .pick-item__label Переехать жить <span class="desctop-br"></span>в другую страну
                        label.pick-item(for="step5-5")
                            input#step5-5.pick-item__input(type='radio', name='question5', value='Потратить деньги на обучение детей')
                            .pick-item__label Потратить деньги на <span class="desctop-br"></span>обучение детей
                        label.pick-item(for="step5-6")
                            input#step5-6.pick-item__input(type='radio', name='question5', value='Другое')
                            .pick-item__label Другое
                    .prev-next-container
                        .kviz__error
                        a.btn.btn--white.btn-prev.qa-prev(href='#') Назад
                        a.btn.btn-next.qa-next(href='#') Далее
                .step-slide.step-slide--finish
                    .step-slide__num Спасибо за ответы!
                    .step-slide__title Остался последний шаг 
                    p Мы уже анализируем ваши ответы и почти готовы дать результат. <span class="desctop-br"><br></span>Оставьте свой контакт за которым мы закрепим ваши бонусы на 30 дней.
                    .step-slide__gift Подарки будут забронированы <span class="desctop-br"><br></span>за вашим номером телефона
                    .form.step-slide__form
                        .form-line 
                            label Введите ваше имя
                                input(type="text" placeholder="Александр" name="name2" required).rfield.name-icon
                            label Введите номер телефона
                                input(type="text" placeholder="+380" name="phone" required).rfield.phone-mask
                        //- input.btn.btn--orange(type='submit', value='Получить предложение')
                        .agree-line
                            input#modal__agree(type='checkbox', checked='', disabled='')
                            label(for='#modal__agree') Я согласен на обработку персональных данных
                        button.btn.btn-finish(type="submit")
                            a(href="#modalKviz").modal-open.kviz__btn Получить бонусы и результат

