section.stages
    .wrap
        .title.stages__title Этапы работы
        .stages__subtitle На основе нашего успешного опыта мы разработали методологию, которая позволяет предложить лучшую цену и высокий результат всего за неделю подготовки
        .stages-slider
            .stages-slider__items
                .stages-slider__item.active
                    .stages-slider__number 0
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Заключение  договора и брифинг
                .stages-slider__item
                    .stages-slider__number 1
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Интервью в Skype  с менеджером  проекта
                .stages-slider__item
                    .stages-slider__number 2
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Разработка  и наполнение  структуры
                .stages-slider__item
                    .stages-slider__number 3
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Утверждение структуры
                .stages-slider__item
                    .stages-slider__number 4
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Дизайн квиз-лендинга
                .stages-slider__item
                    .stages-slider__number 5
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Верстка
                .stages-slider__item
                    .stages-slider__number 6
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Настройка  рекламной  кампании
                .stages-slider__item
                    .stages-slider__number 7
                    .stages-slider__descr
                        .stages-slider__day день
                        .stages-slider__text Запуск  и первые лиды
            .stages-slider__nums
                .stages-slider__num.active
                    span 0
                .stages-slider__num
                    span 1
                .stages-slider__num
                    span 2
                .stages-slider__num
                    span 3
                .stages-slider__num
                    span 4
                .stages-slider__num
                    span 5
                .stages-slider__num
                    span 6
                .stages-slider__num
                    span 7