section.results
    .wrap
        .results__maintitle Какие уже есть результаты?
        .results__body
            .results__wrap.results--optica
                .results__header
                    .results__title «Оптика для всей семьи» — сеть оптик  в городе Краснодар
                    .results__logo
                        img(src="img/optica-logo.png", alt="optica-logo")
                .results__figures
                    .results__figure
                        .results__num 21%
                        .results__text Конверсия
                    .results__figure
                        .results__num 86
                        .results__text Лидов
                    .results__figure
                        .results__num 140,9 ₽
                        .results__text Стоимость лида
                    .results__figure
                        .results__num 30 дней
                        .results__text Период работы кампании
                    .results__figure
                        .results__num 12 118 ₽
                        .results__text Рекламный бюджет
                .results__btns
                    a(href="#").btn.results__more Подробнее
                    a(href="#").btn.btn--line Перейти на сайт
                .results__details
                    .results__details-wrap
                        .column
                            .results__subtitle Что было:
                            .results__text Существующий сайт клиента и попытки продвижения не приносили желаемого результата. Не было понимания сколько нужно привлечь лидов, чтобы закрыть одну сделку. Проблемы с получением и обработкой лидов, отсутствие скриптов продаж.
                            .results__subtitle Поставленная задача:
                            .results__text Привлечь лиды, а также настроить систему их получения и обработки.
                        .column.results__done
                            .results__subtitle Что мы сделали:
                            ul.results__list
                                li Проработали озвученную клиентом ЦА  Разработали квиз и провели 
                                li Проработали озвученную клиентом ЦА
                                li Разработали квиз и провели A/B тестирование по вопросам
                                li Настроили рекламную кампанию и постоянную лидогенерацию
                                li Настроили AmoCRM, подключили сейлз менеджеров
                                li Прописали скрипты продаж
                                li Взяли под контроль обработку лидов и работу с возражениями
                    .results__btns
                        a(href="#kviz").btn.scroll-to Хочу так же
                        a(href="#").btn.btn--up 
                            img(class="arrow-btn" src="img/icons/left-arrow.svg", alt="arrow")
        .results__body
            .results__wrap.results--md
                .results__header
                    .results__title «МД проект» — дизайн-студия, ремонт и внутренняя отделка
                    .results__logo
                        img(src="img/md-logo.png", alt="md-logo")
                .results__figures
                    .results__figure
                        .results__num 11,55%
                        .results__text Конверсия
                    .results__figure
                        .results__num 49
                        .results__text Лидов
                    .results__figure
                        .results__num $3,47
                        .results__text Стоимость лида
                    .results__figure
                        .results__num 21 день
                        .results__text Период работы кампании
                    .results__figure
                        .results__num $170,36
                        .results__text Рекламный бюджет
                .results__btns
                    a(href="#").btn.results__more Подробнее
                    a(href="#").btn.btn--line Перейти на сайт
                .results__details
                    .results__details-wrap
                        .column
                            .results__subtitle Что было:
                            .results__text Существующий сайт компании давал недопустимо низкую конверсию. Отсутствовала CRM, потому клиентов вели “в блокноте”
                            .results__subtitle Поставленная задача:
                            .results__text Привлечь лиды, а также настроить систему их получения и обработки.
                        .column.results__done
                            .results__subtitle Что мы сделали:
                            ul.results__list
                                li Разработали квиз
                                li Запустили рекламную кампанию в FACEBOOK
                                li Провели A/B тестирование с креативами 
                                li Создали систему привлечения клиентов
                                li Интегрировали AmoCRM, создали воронку продаж
                                li Дали рекомендации по повышению конверсии продаж
                    .results__btns
                        a(href="#kviz").btn.scroll-to Хочу так же
                        a(href="#").btn.btn--up 
                            img(class="arrow-btn" src="img/icons/left-arrow.svg", alt="arrow")
        .results__body
            .results__wrap.results--solarled
                .results__header
                    .results__title «Solarled» — компания по проектированию солнечных электростанци
                    .results__logo
                        img(src="img/solarled-logo.png", alt="solarled-logo")
                .results__figures
                    .results__figure
                        .results__num 3,9%
                        .results__text Конверсия
                    .results__figure
                        .results__num 64
                        .results__text Лидов
                    .results__figure
                        .results__num $3,2
                        .results__text Стоимость лида
                    .results__figure
                        .results__num 12 дней
                        .results__text Период работы кампании
                    .results__figure
                        .results__num $208,9
                        .results__text Рекламный бюджет
                .results__btns
                    a(href="#").btn.results__more Подробнее
                    a(href="https://promo.solarled.com.ua" target="_blank").btn.btn--line Перейти на сайт
                .results__details
                    .results__details-wrap
                        .column
                            .results__subtitle Что было:
                            .results__text В начале нашей работы у клиента был только старый лендинг, который давал плохой результат, работала контекстная реклама. Изредка клиент запускал таргетированную рекламу, но результата она не приносила.
                            .results__subtitle Поставленная задача:
                            .results__text Привлечь новых потенциальных клиентов, используя выделенный бюджет.
                        .column.results__done
                            .results__subtitle Что мы сделали:
                            ul.results__list
                                li Проработали образы ЦА
                                li Написали офферы и запустили рекламную кампанию в фейсбук
                                li Изучили желания, требования и боли ЦА, на основе чего разработали новый квиз-лендинг
                                li Настроили контекстную и таргетированную рекламные кампании
                                li Настроили AmoCRM
                                li Взяли под контроль скорость и качество обработки лидов
                    .results__btns
                        a(href="#kviz").btn.scroll-to Хочу так же
                        a(href="#").btn.btn--up 
                            img(class="arrow-btn" src="img/icons/left-arrow.svg", alt="arrow")
        .results__body
            .results__wrap.results--fainoclean
                .results__header
                    .results__title «FainoClean» — компания  попредоставлению клининговых услуг 
                    .results__logo
                        img(src="img/fainoclean-logo.png", alt="fainoclean-logo")
                .results__figures
                    .results__figure
                        .results__num 12,28%
                        .results__text Конверсия
                    .results__figure
                        .results__num 210
                        .results__text Лидов
                    .results__figure
                        .results__num $1,11
                        .results__text Стоимость лида
                    .results__figure
                        .results__num 49 дней
                        .results__text Период работы кампании
                    .results__figure
                        .results__num $232,94
                        .results__text Рекламный бюджет
                .results__btns
                    a(href="#").btn.results__more Подробнее
                    a(href="#").btn.btn--line Перейти на сайт
                .results__details
                    .results__details-wrap
                        .column
                            .results__subtitle Что было:
                            .results__text Клиент имел негативный опыт продвижения: недопустимо высокая стоимость лидов и слив бюджета подрядчиками. Вследствии чего не было понимания стоимости лида, конверсии существующего сайта и многого другого.
                            .results__subtitle Поставленная задача:
                            .results__text Создать поток лидов и уменьшить стоимость заявки до $2,5 
                        .column.results__done
                            .results__subtitle Что мы сделали:
                            ul.results__list
                                li Разработали квиз
                                li Прописали несколько путей клиента
                                li Запустили рекламные кампании на B2B и B2C рынок
                                li Снизили стоимость лида в среднем до $1,1
                                li Настроили CRM-систему на прием заявок
                                li Взяли под контроль работу с лидами
                    .results__btns
                        a(href="#kviz").btn.scroll-to Хочу так же
                        a(href="#").btn.btn--up 
                            img(class="arrow-btn" src="img/icons/left-arrow.svg", alt="arrow")
        .results__body
            .results__wrap.results--newhouse
                .results__header
                    .results__title «New House» — дизайн-студия 
                    .results__logo
                        img(src="img/newhouse-logo.png", alt="newhouse-logo")
                .results__figures
                    .results__figure
                        .results__num 9,87%
                        .results__text Конверсия
                    .results__figure
                        .results__num 72
                        .results__text Лидов
                    .results__figure
                        .results__num $8,46
                        .results__text Стоимость лида
                    .results__figure
                        .results__num 46 дней
                        .results__text Период работы кампании
                    .results__figure
                        .results__num $609,71
                        .results__text Рекламный бюджет
                .results__btns
                    a(href="#").btn.results__more Подробнее
                    a(href="#").btn.btn--line Перейти на сайт
                .results__details
                    .results__details-wrap
                        .column
                            .results__subtitle Что было:
                            .results__text Клиент пришел после негативного опыта работы с таргетологом и старым сайтом, на который иногда запускалась реклама. Отсутствовал медиаплан (стоимость лида и стоимость клиента)
                            .results__subtitle Поставленная задача:
                            .results__text Настроить лидогенерацию, создать сайт, который будет как продавать, так и быть портфолио — демонстрировать кейсы клиента.
                        .column.results__done
                            .results__subtitle Что мы сделали:
                            ul.results__list
                                li Проработали образы ЦА
                                li Проработали путь клиента
                                li Разработали квиз
                                li Запустили таргетированную рекламу и получили первые результаты
                                li Взяли под контроль скорость и качество обработки заявок
                    .results__btns
                        a(href="#kviz").btn.scroll-to Хочу так же
                        a(href="#").btn.btn--up 
                            img(class="arrow-btn" src="img/icons/left-arrow.svg", alt="arrow")


