section.action#action
    .wrap
        .action__body
            .action__column
                .action__title Хотите также?
                .action__subtitle Стоимость проекта “под ключ”  только до конца зимы
                a(href="#").btn.btn--white Оставить заявку
            .column.price
                span.price__old $600
                .price__new $390
                .parallax.keyboard(data-speed="-0.5")
                    img(src="img/keyboard.png", alt="keyboard")
                .parallax.mouse(data-speed="0.5")
                    img(src="img/mouse.png", alt="")