footer.footer
    .wrap
        .footer__bottom 
            .footer__item
                div © 2019 SolarLed. Все права защищены.  
                div Сайт не является публичной офертой.
            .footer__item.footer__conf 
                a(href="#") Политика конфиденциальности
            .footer__item.footer__dev 
                span Разработка сайта
                a(href="https://nox.agency/").footer__logo 
                    img(src="img/logo-nox.png", alt="logo")
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
