footer.footer
    .wrap
        .footer__logo
            a(href="https://nox.agency/")
                img(src="img/logo-nox-green.png", alt="logo")
        .footer__dev © nox.agency 2019
script(src="libs/1.jquery/dist/jquery.min.js")
script(src="js/scripts.min.js")
script(src="js/common.js")
