header.header
	//- nav
	//- 	.wrap
	//- 		.nav
	//- 			.logo
	//- 				.logo__icon
	//- 				.logo__text Castle
	//- 			.menu-wrap
	//- 				.menu-toggle 
	//- 					.one
	//- 					.two
	//- 					.three

	//- 				nav.main-menu 
	//- 					ul
	//- 						li
	//- 							a(href="#") Orders
	//- 						li
	//- 							a(href="#") Transactions
	//- 						li
	//- 							a(href="#") Users
	//- 			.reg
	//- 				.reg__notification Notification
	//- 				.login 
	//- 					.login__text Account
	//- 					.login__icon
	.wrap
		.logo
			img(src="img/logo.png", alt="logo Jeunesse")
		.header__social
			//- a(href="mailto:manager@solarled.com.ua" class="mail").header__mail manager@solarled.com.ua
			a(href="tel:+380973392956" class="phone") +380 97 339 29 56
