header.header
	.wrap
		.logo
			img(src="img/logo-nox.png", alt="logo Jeunesse")
		.header__text Агенство по разработке Quiz сайтов. Работаем удаленно по всему СНГ
		.header__social
			//- a(href="mailto:manager@solarled.com.ua" class="mail").header__mail manager@solarled.com.ua
			a(href="tel:+380996105269" class="phone") +380 99 610 52 69
