section.home
    .wrap
        .home__pre Пытаетесь преуспеть в сетевом бизнесе, но команда не растет, <span class="desctop-br"><br></span>“теплый список” выгорел, а холодные контакты не приходят на встречи?
        .main-title Узнайте, как можно заработать в сетевом бизнесе, и создать большую и успешную структуру без привлечения знакомых
        .home__body
            .home__subtitle А также получите сразу три бонуса:
            .home__items
                .home__item
                    .home__title Маркетинговый план 
                    .hone_descr продвижения <span class="desctop-br"><br></span>в сетевом бизнесе
                .home__item
                    .home__title Консультацию специалиста 
                    .hone_descr по индивидуальному <span class="desctop-br"><br></span>развитию в сетевом бизнесе
                .home__item
                    .home__title Специальное условие 
                    .hone_descr для входа в компанию <span class="desctop-br"><br></span>Jeunesse Global
            a(href="#kviz").btn.scroll-to Пройти тест сейчас

            //- .home__roof

            